function Point.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Point.getX 0
push argument 0
pop pointer 0
push this 0
return
function Point.getY 0
push argument 0
pop pointer 0
push this 1
return
function Point.addToX 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop this 0
push constant 0
return
function Point.addToY 0
push argument 0
pop pointer 0
push this 1
push argument 1
add
pop this 1
push constant 0
return
function Point.move 0
push argument 0
pop pointer 0
push this 1
push argument 2
add
pop this 1
push this 0
push argument 1
add
pop this 0
push constant 0
return
function Point.display 0
push argument 0
pop pointer 0
push this 0
push this 1
call Screen.drawPixel 2
pop temp 0
push constant 0
return
function Point.comparePoints 2
push argument 0
pop pointer 0
push argument 1
call Point.getX 1
pop local 0
push argument 1
call Point.getY 1
pop local 1
push this 0
push local 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push local 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Point.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
